** {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  font-family: system-ui, sans-serif;
}
.page-wrapper {
  width: 750px;
  height: 600px; /* square */
  background: #2b2f3a;
  padding: 20px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header,footer{
    background-color: rgb(113, 63, 204);
    text-align: center;
    color: white;
    font-weight: 700;
    padding: 20px 10px;
    border: 7px solid black;
    font-size: 25px;
}
.layout {
  flex: 1; /* fills available space */
  display: flex;
  gap: 20px;
}
.sidebar{
   background: linear-gradient(135deg, #33d1c6, #2bb0a5);
    height: 375px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 25px;
    border: 7px solid black;
}
.content-area {
  flex: 1;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "content1 content1"
    "content2 content3";
}
.content-1 {
  grid-area: content1;
}

.content-2 {
  grid-area: content2;
}

.content-3 {
  grid-area: content3;
}

.content-1,
.content-2,
.content-3 {
  background: linear-gradient(135deg, #5a67f2, #29a3f4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  border: 7px solid black;
}


