accelerate
bitsandbytes
datasets
fastapi==0.110.0
llama-cpp-python==0.2.72
matplotlib
pandas
peft
pydantic==2.6.4
requests==2.31.0
sentence-transformers
streamlit==1.32.2
torch
transformers
trl
uvicorn==0.29.0
